body {
  background-image: url(../imgs/calc-fundo.jpg);
}

.tela {
  display: inline-block;
  justify-content: center;
  width: 13.5rem;
  border-radius: 0.5rem;
  background-color: #ffcc75;
}

.botaoOn {
  height: 3rem;
  width: 3rem;
  color: white;
  background-color: #f2484b;
  border: none;
}

.botaoOn:hover {
  cursor:pointer
}

.botao {
  height: 3rem;
  width: 3rem;
  color: white;
  background-color: #185f8d;
  border: none;
}

.botao:hover {
  cursor: pointer;
}

.molde {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #6da8d6;
  width: 17.5rem;
  border-radius: 2rem;
}

#confirmar {
  height: 3rem;
  width: 13.5rem;
}